##
## User and password to be used by jenkins slave to connect to the master

JENKINS_USER=jenkins
JENKINS_PASS=jenkins

## User and password to be used by posftix mail server for relay authentification

MTP_USER=user
MTP_PASS=password
